<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StaffLogin</servlet-name>
        <servlet-class>portal.credentials.StaffLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cpuItemList</servlet-name>
        <servlet-class>productTable.cpuItemList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeServlet</servlet-name>
        <servlet-class>productTable.homeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCPUtoDB</servlet-name>
        <servlet-class>dbPackage.addCPUtoDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cpuItemAdd</servlet-name>
        <servlet-class>productTable.cpuItemAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffLogin</servlet-name>
        <url-pattern>/Staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cpuItemList</servlet-name>
        <url-pattern>/Inventory/CPU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCPUtoDB</servlet-name>
        <url-pattern>/Inventory/CPU/Add/Success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cpuItemAdd</servlet-name>
        <url-pattern>/Inventory/CPU/Add</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
